{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Dashboard</title>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/commxon.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body class="completePage">
    <div class="row" style="height: 100%;">
        <div class="col-md-2">
            {% include 'sideNav/sideNav.html' %}
        </div>
        <div class="col-md-10 mt-3" style="height: 100%;">

            <div class="row pt-3 mt-4  border border-black border-opacity-50 rounded shadow-lg bodyStyle"
                style="width: 95%;">

                <div class="col-2">
                    <p style="border-bottom: solid 1px white;">Overall Learning Completed</p>
                </div>
                <div class="col-9 pt-1">
                    <div class="mb-4 progress rounded-pill" style="height: 15px;">
                        <div style="background-color: green; width: {{ overallLearningPercentage }}%">
                        </div>
                    </div>
                </div>
                <div class="col-1"> {{ overallLearningPercentage }}</div>

                <div class="col-2">
                    <p style="border-bottom: solid 1px white;">Class Learning Completed</p>
                </div>
                <div class="col-9 pt-1">
                    <div class="mb-4 progress rounded-pill" style="height: 15px;">
                        <div style="background-color: green; width: {{ classLearningPercentage }}%">
                        </div>
                    </div>
                </div>
                <div class="col-1"> {{ classLearningPercentage }}</div>

                <!-- </div>
            <div class="row pt-3  rounded" style="width: 95%; color: black;"> -->
{% if selfLearning %}
                <div class="col-2">
                    <p style="border-bottom: solid 1px white;">Self Learning Completed</p>
                </div>
                <div class="col-9 pt-1">
                    <div class="mb-4 progress rounded-pill" style="height: 15px;">
                        <div style="background-color: green; width: {{ selfLearningPercentage }}%">
                        </div>
                    </div>
                </div>
                <div class="col-1"> {{ selfLearningPercentage }}</div>
{% endif %}
            </div>

            <div class="row mt-4" style="height: 50%;">
                <h3 class="pb-2 border-bottom border-black border-opacity-50">Class Learning</h3>
                <div class="row">
                    {% for i in classLearning %}
                    <div class="mt-3 card shadow-lg me-2 border border-black rounded-4 bodyStyle" style="width: 19rem;">
                        <a href="/topic/{{ i.topicId }}" class="disabledAnchorWithoutSelfDone">
                            <div class="card-body">
                                <h6 class="pb-1 card-title border-bottom border-white border-opacity-50">{{i.title}}
                                </h6>
                                <div class="mb-2 progress" style="height: 5px;">
                                    <div style="background-color: green; width: {{ i.percentage }}%">
                                    </div>
                                </div>
                                <div class="FixedSizeDiv">
                                    <ul>
                                        {% for j in i.subTopic %}
                                        <li class="options"><a href="/topic/{{ i.topicId }}/subTopic/{{ j.subTopicId }}" class="disabledAnchorWithoutSelfDone">{{j.subTopicName}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>

            {% if selfLearning %}
            <div class="row mt-5" style="height: 50%;">
                <h3 class="pb-2 border-bottom border-black border-opacity-50">Self Learning</h3>
                <div class="row" style="height: 100%;">
                    {% for i in selfLearning %}
                    <div class="mt-3 card shadow-lg me-2  border border-black rounded-4 bodyStyle"
                        style="width: 19rem;">
                        <a href="/topic/{{ i.topicId }}" class="disabledAnchorWithoutSelfDone">
                            <div class="card-body">
                                <h6 class="pb-1 card-title border-bottom border-white border-opacity-50">{{i.title}}
                                </h6>
                                <div class="mb-2 progress border border-black border-opacity-50" style="height: 5px;">
                                    <div style="background-color: green; width: {{ i.percentage }}%">
                                    </div>
                                </div>
                                <div class="FixedSizeDiv">
                                    <ul>
                                        {% for j in i.subTopic %}
                                        <li class="options"><a href="/topic/{{ i.topicId }}/subTopic/{{ j.subTopicId }}" class="disabledAnchorWithoutSelfDone">{{j.subTopicName}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>