<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesion</title>
    <link rel="stylesheet" href="../Static/css/common.css">
</head>
<body>
    <div class="container completePage">
    <img src="../Static/images/butterfly.png" alt="" class="fly-1">
    <img src="../Static/images/butterfly.png" alt="" class="fly-2">
    <img src="../Static/images/butterfly.png" alt="" class="fly-3">
</div>

</body>
</html>